@import "common";
@import "common/mixins";

.shopList{
  border-bottom:2px solid #eee;
  h3{
    line-height: .40rem;
    font-size: $fonSize18;
    color:$foncol333;
  }
  p{
    font-size: $fonSize16;
    color:$foncol666;
  }
  .shop-item{
    height:.86rem;
    border-bottom:2px solid #eee;
    border-radius: 10px;
    .xiangqing{
      .pic{
        width:.40rem;
        height:.40rem;
        margin:0 .12rem;
        border-radius: 50%;

        @include bg-size(contain);
        background-color:$foncolhong ;
        background-image: url(../images/5B15958B-4DE9-401A-9F59-DD92DAC9534F@2x.png);

        font-size: $fonSize12;
        color:$foncolhong;
        text-align: center;
        line-height: .40rem;
        &.dai{
          background-color: #f8c52f;
        }
        &.tui{
          background-color: #d798e9;
        }
      }
      .title{
        h3{
          line-height: .36rem;
        }
      }
    }

    &:last-child{
      border-bottom:none;
    }
  }
}

.modal{
 background-color: rgba(0,0,0,.6);
  width:100%;
  left:0;top:0;
  position: absolute;

  display: none;
}
.pop{
  width:80%;
  height:auto;
  background: #fff;
  border-radius: 10px;
  position: fixed;

  display: none;
  .xiangqing{
    padding:.10rem 0;
  }
  .quan{
    padding-top: .10rem;
  }
  .shiyong{
    margin:.24rem 0;
  }
  .pic{
    width:.40rem;
    height:.40rem;
    margin:.08rem .12rem;
    border-radius: 50%;

    @include bg-size(contain);
    background-color:$foncolhong ;
    background-image: url(../images/5B15958B-4DE9-401A-9F59-DD92DAC9534F@2x.png);

    font-size: $fonSize12;
    color:$foncolhong;
    text-align: center;
    line-height: .40rem;
    &.dai{
      background-color: #f8c52f;
    }
    &.tui{
      background-color: #d798e9;
    }
  }
  h3{
    font-size:.18rem;
    line-height: .30rem;
    color:$foncol333
  }
  p{
    font-size:.16rem;
    line-height: .22rem;
    color: $foncol666;
  }
  .sure{
    text-align: center;
    height:0.50rem;
    line-height:.50rem;
    font-size: .18rem;
  }
}
